# Configuration Base de données
DATABASE_URL="postgresql://username:password@localhost:5432/pokefav_db"

# Configuration JWT
JWT_SECRET="votre_secret_jwt_tres_securise_ici"
JWT_REFRESH_SECRET="votre_refresh_secret_tres_securise_ici"

# Configuration Email (Gmail)
EMAIL_USER="Mail_ici"
EMAIL_PASSWORD="Mot_de_passe_ici"

# Configuration Serveur
PORT=3001
NODE_ENV=development 